tensorflow-gpu==1.15
dm-sonnet<2
matplotlib
absl-py
numpy
matplotlib==3.4.3
torch_geometric==2.0.1
#torch_cluster==1.5.9
torch==1.9.0
numpy==1.21.2
absl_py==0.13.0
tfrecord==1.14.1
circle_fit
statsmodels
natsort
GitPython
tensorboard
#torch_scatter==2.0.8
